<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- =========================== STYLESHEET =========================== -->
    <link rel="stylesheet" type="text/css" href="/styles/global.css">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">

    <!-- ========================= GOOGLE FONTS =========================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

    <title>Criar sala - Rocket.Q</title>
</head>
<body>
    <div id="home" class="content">
        <header>
            <a href="/">
                <img src="/img/logo.svg" alt="logotipo da Rocket.Q">
            </a>
        </header>

        <div id="bg">
            <div class="ball top"></div>
            <div class="ball bottom"></div>
        </div>

        <main>
            <div class="container">
               <!-- Vai renderizer a 'part' correta de acordo com a URL -->
 
               <%- include(`parts/${page}`) %> 
            </di`>
        </main>
    </div>
</body>
</html>