<section>
    <h2>Crie sua própria sala</h2>
    <form action="/room/create-room">
        <label class="sr-only"for="pass__input">Insira uma senha</label>
        <input id="pass__input" type="number" placeholder="Insira uma senha">
        <button>
            <img src="./img/users_white.svg" alt="Criar na sala"> Criar sala
        </button>
    </form>
</section>
