<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only"for="pass__input">Insira uma senha</label>
        <input id="room-pass" type="password" name="password" placeholder="Insira uma senha">
        <button>
            <img src="/img/users_white.svg" alt="Criar na sala"> Criar sala
        </button>
    </form>
</section>
